.side-menu {
    position: fixed;
    top: 10%;
    left: 100%;
    transform: translateX(-100%);
    font-size: 1vmax;
    background-color: #2051b4;
    height: 40%;
    width: 60%;
}

.side-menu > ul {
    list-style: none;
    display: inline-block;
    font-size: 1.8vmax;
    font-weight: bold;
    margin-left: 7%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.side-menu > ul > li {
    font-size: 1.5vmax;
    font-weight: normal;
    margin-top: 3.7%;
}

.links-side-menu {
    text-decoration: none;
    color: #000066;

    &:hover {
        text-decoration: underline;
        color: #00aaff;
    }
}